/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image-black: url(../images/cover-image-dark.png);
  --background-color-fallback: #000028;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-color: #ff0070;
  --color-content: #000028;
  --color-header: #db00ff;
  --color-title: #ff0070;
  --color-text: #f1b2ce;
  --button-hover: #ff007066;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
