/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  margin: 0 auto;
  background-image: var(--background-image-black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color-fallback);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  color: var(--accent-color);
  font-family: var(--font-family, monospace);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  height: 100vh;
  min-height: 668px;
  min-width: 375px;
  padding: 10px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (width >= 1024px) {
  .header {
    row-gap: 12px;
  }
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: flex-start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  color: var(--color-title);
}

@media (width >= 768px) {
  .header__theme-menu-list {
    justify-content: center;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block-end: 5px;
  padding-block-start: 3px;
  border: 0;
  cursor: pointer;
}

@media (width >= 1024px) {
  .header__theme-menu-item {
    align-self: flex-start;
  }
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__rec {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 20px;
  column-gap: 10px;
  text-transform: uppercase;
  font-weight: 400;
}

@media (width >= 768px) {
  .header__rec {
    top: 23px;
    right: 30px;
    column-gap: 10px;
  }
}

.header__rec::after {
  content: "";
  display: inline-block;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-title);
  border-right: 1px solid var(--color-title);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-title);
  border-bottom: 1px solid var(--color-title);
  bottom: 10px;
  left: 10px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

@media (width >= 768px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

.header__title {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-header);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 95px;
}

@media (width >= 768px) {
  .header__title {
    font-size: var(--logo-size);
    margin-inline-start: -20px;
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--color-content);
}

.content {
  font-family: var(--font-family, monospace);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  padding-inline: 20px;
  padding-block: 60px;
  display: grid;
  gap: 80px;
}

.content__grid {
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 20px;
}

.header__subtitle {
  justify-self: center;
  align-self: center;
  grid-row: 3;
  line-height: 23.4px;
  color: var(--color-content);
  max-width: 355px;
}

@media (width >= 768px) {
  .header__subtitle {
    justify-self: flex-end;
    align-self: flex-start;
    margin-block-start: 50px;
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    max-width: 491px;
  }
}

.section__title {
  font-family: var(--font-family, monospace);
  color: var(--color-title);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.item__title {
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
}

.item__text {
  color: var(--color-text);
}

.content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.content__link:hover {
  border-bottom: 1px solid var(--color-text);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: none;
  padding-inline-start: 3px;
  padding-inline-end: 4px;
  border: 1px solid var(--color-text);
}

@media (width >= 768px) {
  .concentration {
    grid-template-columns: 1fr 2fr;
  }

  .recommendations {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1023px) {
  .attention__list {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
  }
}

.gallery__images {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 20px;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  .gallery__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "cassette books ice-cream"
      "cassette street street";
  }

  .gallery__image:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__image:nth-child(2) {
    grid-area: ice-cream;
  }

  .gallery__image:nth-child(3) {
    grid-area: cassette;
  }

  .gallery__image:nth-child(4) {
    grid-area: books;
  }

  .gallery__image:nth-child(5) {
    grid-area: street;
  }
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

@media (width >= 768px) {
  .footer {
    padding: 20px;
  }
}

.footer__title {
  font-size: var(--logo-size);
  color: var(--color-header);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 95px;
  font-family: var(--font-family, monospace);
  justify-self: center;
  align-self: center;
}

@media (width >= 768px) {
  .footer__title {
    grid-row: 1;
  }
}
