/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image-black: url(../images/cover-image-dark.png);
  --background-color-fallback: #000028;
  --font-family: IBM Plex mono;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-color: #ff0070;
  --color-content: #000028;
  --color-header: #db00ff;
  --color-title: #ff0070;
  --color-text: #f1b2ce;
  --button-hover: #ff007066;
}
